<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.algonquin.cst2335.smarthomecontroller">

    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="SmartHomeController">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LivingRoomListActivity"
            android:label="@string/title_livingroom_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LivingRoomDetailActivity"
            android:label="@string/title_livingroom_detail"
            android:parentActivityName=".LivingRoomListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.algonquin.cst2335.smarthomecontroller.LivingRoomListActivity" />
        </activity>
        <activity
            android:name=".KitchenListActivity"
            android:label="@string/title_kitchen_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KitchenDetailActivity"
            android:label="@string/title_kitchen_detail"
            android:parentActivityName=".KitchenListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.algonquin.cst2335.smarthomecontroller.KitchenListActivity" />
        </activity>
        <activity
            android:name=".HomeListActivity"
            android:label="@string/title_home_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeDetailActivity"
            android:label="@string/title_home_detail"
            android:parentActivityName=".HomeListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.algonquin.cst2335.smarthomecontroller.HomeListActivity" />
        </activity>
        <activity
            android:name=".AutomobileListActivity"
            android:label="@string/title_automobile_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AutomobileDetailActivity"
            android:label="@string/title_automobile_detail"
            android:parentActivityName=".AutomobileListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.algonquin.cst2335.smarthomecontroller.AutomobileListActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RoomListActivity" />
        <activity
            android:name=".RemoteActivity"
            android:label="@string/title_activity_remote"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HomeTemp" />
        <activity android:name=".KMicrowaveActivity" />
        <activity android:name=".KLightsActivity" />
        <activity android:name=".KFridgeActivity" />
        <activity
            android:name=".LRLampActivity"
            android:label="@string/title_activity_lrlamp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LRBlindsActivity"
            android:label="@string/title_activity_lrblinds"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LRBlindsClose"
            android:label="@string/title_activity_lrblinds_close"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThermostatControl"
            android:label="@string/title_activity_thermostat_control"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>